<div class='hero'>
	<div class='hero-over'>	
		<h2>Something is great!</h2>
		<h3>So Check it out!</h3>
	</div>
</div>

<div class='container'>
	

		<div class="col-xs-10 col-xs-offset-1 features text-center">
	  <div class="col-sm-4">
	    <h3>Feature 1</h3>
	    <p>snorg is great!</p>
	  </div>

	  <div class="col-sm-4">
	    <h3>Feature 2</h3>
	   <p> zuzu is black</p>
	  </div>

	  <div class="col-sm-4">
	    <h3>Feature 3</h3>
	    <p>Pepper is big</p>
	  </div>
	</div>
</div>