<div class='hero'>
	<div class='hero-over'>	
		<h2>Something is great!</h2>
		<h3>So Check it out!</h3>
	</div>
</div>

<div class='container'>
	<h1>this is the landing page!</h1>
	<p>Thsi is a fine little thing that I am writing to see Lato at work in a para kind of right now kitty cat meows.</p>
	<a class='button'>this is a test</a>
</div>