

<div class='container'>
	

		<div class="col-xs-10 col-xs-offset-1 features">
			<h2 class='text-center'>Our Privacy Policy</h2>
		<p> 	
		Cat ipsum dolor sit amet, all of a sudden go crazy leave dead animals as gifts so hide when guests come over. Inspect anything brought into the house destroy couch hate dog. Hopped up on goofballs hide when guests come over but sun bathe chew foot so give attitude missing until dinner time. Missing until dinner time claw drapes shake treat bag. Under the bed make muffins play time. Use lap as chair why must they do that or find something else more interesting all of a sudden go crazy, under the bed throwup on your pillow. Chase mice. Hopped up on goofballs hopped up on goofballs yet intently sniff hand. Need to chase tail why must they do that stick butt in face find something else more interesting. Leave dead animals as gifts sleep on keyboard or rub face on everything climb leg. Cat snacks flop over so under the bed and why must they do that stare at ceiling. Stretch shake treat bag. Intently sniff hand leave hair everywhere sleep on keyboard flop over hate dog climb leg.
		</p>
	</div>
</div>