// // colors
// #22555f dk blue green
// #385e88 dots

$footer-height: 100px;





/* Set the fixed height of the footer here */
#footer {
	color:#fff;
	background: #22555f;
  height: $footer-height;
  position: absolute;
  bottom: 0;
  width:100%
}





#footer h1, #footer h2, #footer h3, #footer h4, #footer h5{
	color: #fdfbee;
}