// // colors
// #22555f dk blue green
// #385e88 dots fb blue
//#613888 dots purple
// #47b5ca lt blue green
//#ff8cc2 pink
//#8e70b3 mauve
//#96bde6 dots fb blu pale pale


*{
	box-sizing: border-box;
	border-radius: 0 !important;
}

html{
	font-size: 16px;
	height: 100%;
}
body{
	font-size: 100%;
	font-family: Lato, sans-serif;
	line-height: 1.8;
	height: 100%;
}
a{
	color: #47b5ca !important;
}
h1, h2, h3, h4, h5{
	font-family: Alegreya, Georgia, serif;
	font-weight: 700;
	color: #385e88;
}
.label, .label-default{
	background-color: #47b5ca;
	padding: 1em;
}


#wrap {
	$footer-height: 100px;
  // min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -$footer-height;
  // Pad bottom by footer height
  // padding: 0 0 $footer-height;
}


.form-box{
  background: rgba(253, 251, 238, .5);
  margin-bottom: 0.75em;
  padding: 2em;
  border: 1px solid #fff;
}

.notice, .alert{
	padding: 20px;
	display: block;
	margin: 0 auto;
	
}
