// // colors
// #22555f dk blue green
// #385e88 dots

*{
	box-sizing: border-box;
}

html{
	font-size: 16px;
}
body{
	font-size: 100%;
	font-family: Lato, sans-serif;
	line-height: 1.8;
}
h1, h2, h3, h4, h5{
	font-family: Alegreya, Georgia, serif;
	font-weight: 700;
	color: #385e88;
}

