// // colors
// #22555f dk blue green
// #385e88 dots
//#96bde6 dots pale pale
.navbar, .navbar-inverse{
	color: #fdfbee;
	background-color: #22555f;
	background-image: url('dots.png');
background-repeat: repeat-x;
border-color: #22555f;
border-radius: 0;
margin-bottom: 0;
height: 100px;
}

.nav a,  .navbar-nav a, .navbar-right a, .collapse a, .navbar-collapse a{
	color: #8ab2cd !important;
}

.nav a:hover,  .navbar-nav a:hover, .navbar-right a:hover, .collapse a:hover, .navbar-collapse a:hover{
	color: #fff !important;
}
.navbar-brand{
	color: #fff !important;
	font-size: 2em;
	letter-spacing: 0.07em;
	font-family: Alegreya SC, Georgia;
	font-weight: 700;
	font-style: italic;

}